// BLUE
$le-dark-blue: #384259;
$le-medium-blue: #515e7c;

// GREY
$le-light-grey: #f4f5f6;
$le-medium-grey: #c9d0d8;
$le-dark-grey: #738498;

// GREEN
$le-light-green: #2fc4b2;

// ORANGE
$le-medium-orange: #f29e50;

// PINK
$le-medium-pink: #fc5185;

// theme
$primary: #287bd4;
$orange: #f75c03;
$white: #fff;
$yellow: #f1c40f;
$pink: #d90368;
$green: #13bd68;

$font: Roboto, Arial;

// the :export directive is the magic sauce for webpack
:export {
  primary: $primary;
  orange: $orange;
  white: $white;
  yellow: $yellow;
  pink: $pink;
  green: $green;
  font: $font;
}